@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";

body {
  touch-action: pan-x pan-y;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*Toggle Switch used in /Components/JoinPage.tsx*/
#toggleSwitchContainer {
  position: relative;
  border: 3px solid #51a2ff;
  width: 6rem;
  height: 3rem;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 5px;
  transition: all 300ms;
}

#toggleSwitchContainer label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #51a2ff;
  border: 3px solid #51a2ff;
  border-radius: 9px;
  transition: all 300ms;
}

#toggleSwitchContainer input {
  position: absolute;
  opacity: 0;
}

#toggleSwitchContainer input:checked + #toggle {
  transform: translateX(100%);
}
/*Toggle Switch*/